body {
    background: black;
    color: white;
    text-align: center;
}

.main_container {
    text-align: center;
}

#file-input {
    font-size: 15px;
    padding: 20px;
    cursor: pointer;
}

#container {
    width: 500px;
    height: 500px;
}

#container img {
    width: 100%;
    height: auto;
    padding-left: 493px;
}

#container canvas {
    position: absolute;
    top: 77px;
    left: 507px;
}